<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.course.capstone">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.ProductsActivity"></activity>
        <activity android:name=".activities.SenseActivity" />
        <activity android:name=".activities.Sense2Activity" />
        <activity android:name=".activities.test.test5" />
        <activity android:name=".activities.test.test4" />
        <activity android:name=".activities.test.test3" />
        <activity android:name=".activities.test.test2" />
        <activity android:name=".activities.test.test1" />
        <activity android:name=".activities.education.YoutubeListActivity" />
        <activity android:name=".activities.education.FinanceActivity" />
        <activity android:name=".activities.education.CareerActivity" />
        <activity android:name=".activities.TaxActivity" />
        <activity android:name=".activities.TestResultActivity" />
        <activity android:name=".activities.Icomment" />
        <activity android:name=".activities.StudyActivity" />
        <activity android:name=".activities.TestActivity" />
        <activity
            android:name=".activities.education.YoutubeActivity"
            android:hardwareAccelerated="true" />
        <activity android:name=".Frag5" />
        <activity android:name=".activities.Iwrite" />
        <activity android:name=".BoardWriteActivity" />
        <activity android:name=".BoardDetailActivity" />
        <activity android:name=".DailyWriteActivity" />
        <activity android:name=".DailyDetailActivity" />
        <activity android:name=".activities.CorrectMyInfo" />
        <activity android:name=".activities.MyInfoActivity" />
        <activity android:name=".CardActivity" />
        <activity android:name=".TotalCardPage" />
        <activity android:name=".MypageActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".BoardSearchActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.SelectConcernActivity" />
        <activity android:name=".activities.SelectBankActivity" />
        <activity android:name=".activities.PaymentPattern" />
        <activity android:name=".activities.LoginActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".activities.LogoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.MyFireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>